@font-face {
    font-family: 'Circular ProTT Book';
    src: local('CircularProTT-Book'),
        url('CircularProTT-Book.woff2') format('woff2'),
        url('CircularProTT-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular ProTT';
    src: local('CircularProTT-Bold'),
        url('CircularProTT-Bold.woff2') format('woff2'),
        url('CircularProTT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

