@font-face {
    font-family: 'FreightTextProLight';
    src: local('FreightText Pro Light'), local('FreightTextProLight-Regular'),
        url('FreightTextProLight-Regular.woff2') format('woff2'),
        url('FreightTextProLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightTextProLight';
    src: local('FreightText Pro Light Italic'), local('FreightTextProLight-Italic'),
        url('FreightTextProLight-Italic.woff2') format('woff2'),
        url('FreightTextProLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightTextProBook';
    src: local('FreightText Pro Book'), local('FreightTextProBook-Regular'),
        url('FreightTextProBook-Regular.woff2') format('woff2'),
        url('FreightTextProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightTextProBook';
    src: local('FreightText Pro Book Italic'), local('FreightTextProBook-Italic'),
        url('FreightTextProBook-Italic.woff2') format('woff2'),
        url('FreightTextProBook-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightTextProBold';
    src: local('FreightText Pro Bold'), local('FreightTextProBold-Regular'),
        url('FreightTextProBold-Regular.woff2') format('woff2'),
        url('FreightTextProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

