@import url(/fonts/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        @apply leading-none;
        @apply text-darkBlue;
    }
    h2 {
        @apply text-3xl;
        @apply leading-none;
        @apply text-mediumBlue;
    }
    h3 {
        @apply text-2xl;
        @apply leading-none;
        @apply text-mediumBlue;
    }
    p {
        @apply text-lg;
        @apply text-mediumBlue;
        @apply font-body;
    }
}

html {
    background: white;
    background: linear-gradient(to bottom, #fdf4f0 0%, #dadef1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns:
        1fr
        min(76ch, 100%)
        1fr;
}
.wrapper > * {
    grid-column: 2;
}
.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

/* https://tailwindcss.com/docs/adding-base-styles */
